{%extends 'base.html'%}
{%load static%}

{% block title %}
Yanlong Sun
{% endblock title %}

{% comment %} {%block translate%}
  <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
  <a class="btn btn-outline-primary" for="btnradio1" href="{%url 'index'%}">En</a>
  <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
  <a class="btn btn-outline-primary" for="btnradio1" href="{%url 'basic:cn'%}">中</a>
{%endblock%} {% endcomment %}

{%block info%}
<h2>Hi! I'm Yanlong</h2>
{%endblock%}



