{% extends 'blog/base.html' %}

{% block title %}
Yanlong:Blog
{% endblock title %}

{% block content %}
<div class="centerstage">
    {% for post in post_list %}
        <div class="post jumbotron">
            <h2 class='posttitle' style="text-align:left"><a href="{%url 'post_detail' pk=post.pk%}">{{post.title}}</a></h2>
            <div class='date'>
                <p class='postcontent'>Published on: {{post.published_date|date:"m/d/y"}}</p>
            </div>
            <a class='postcontent' href="{%url "post_detail" pk=post.pk%}">Comments ({{post.approve_comments.count}})</a>
        </div>
    {% endfor %}
</div>

{% endblock content %}