{% extends 'base.html' %}
{% load static %}

{% block title %}
Yanlong:Projects
{% endblock title %}


{%block info%}
<div class='jumbotron'>
    <table class="table table-hover postcontent">
        <thead>
            <tr colspan="2" class="postcontent">
                <td colspan="3">Full Stack Web Development Projects</td>
            </tr>
        </thead>
    
        <tr>
            <td style="width:1000px">
                <h3 style="text-align:left; vertical-align: middle">
                    Django-Powered Personal Homepage and Blog
                    <span style="float:right">
                        DEC 2022 - Present
                    </span>
                </h3>
                <h5>Website Link : <a href="yanlong-sun.com"> yanlong-sun.com</a></h5>

                <ul>
                    <li><p>Participated in a Django bootcamp and used the skills learned to create a personal blog webpage using Django and Python, including creating models and views to support features including publishing, saving in draft, commenting, sign in, and sign out, and a front-end interface implemented using HTML, CSS, and Bootstrap</p></li>
                    <li><p>Hosted the blog on AWS Lightsail, including setting up the server using NGINX and Gunicorn, deploying the code, and configuring the database</p></li>
                    <li><p>Maintained and updated the blog on an ongoing basis, including adding new features and fixing bugs, and monitoring the performance and stability of the blog</p></li>
                </ul>
            </td>
        </tr>

        <tr>
            <td>

            </td>

        </tr>
    </table>


    
</div>

<div class='jumbotron'>
    <table class="table table-hover postcontent">
        <thead>
            <tr colspan="2" class="postcontent">
                <td colspan="3">Machine Learning Porjects</td>
            </tr>
        </thead>
    
        <tr>
            <td style="width:1000px">
                <h3 style="text-align:left; vertical-align: middle">
                    RGBD Salient Object Detection
                    <span style="float:right">
                        Dec 2018 - Oct 2019
                    </span>
                </h3>
                <h5>Github Link : <a href="yanlong-sun.com"> </a></h5>

                <ul>
                    <li><p>Designed an efficient 2D deep neural network in Python and Tensorflow for detecting and precisely segmenting salient objects in RGBD images, reducing the cost of memory and time for training and prediction compared with other RGBD models</p></li>
                    <li><p>Created a dataset by recording road conditions and labeling salient automobiles and pedestrians using eye tracking data</p></li>
                    <li><p>Achieved Excellent(0.1%) rating on a paper and presentation at Xidian University</p></li>
                </ul>
            </td>
        </tr>

        <tr>
            <td>

            </td>

        </tr>
    </table>
</div>
{%endblock%}
